/* team A players positions */
.player-a-1 {
    position: absolute;
    top: 41%;
    left: 23%;
}

.player-a-2 {
    position: absolute;
    top: 16%;
    left: 32%;
}

.player-a-3 {
    position: absolute;
    top: 66%;
    left: 32%;
}

.player-a-4 {
    position: absolute;
    top: 41%;
    left: 32%;
}

.player-a-5 {
    position: absolute;
    top: 30%;
    left: 40%;
}

.player-a-6 {
    position: absolute;
    top: 54%;
    left: 40%;
}

/* team B players positions */
.player-b-1 {
    position: absolute;
    top: 41%;
    right: 23%;
}

.player-b-2 {
    position: absolute;
    top: 16%;
    right: 32%;
}

.player-b-3 {
    position: absolute;
    top: 66%;
    right: 32%;
}

.player-b-4 {
    position: absolute;
    top: 41%;
    right: 32%;
}

.player-b-5 {
    position: absolute;
    top: 30%;
    right: 40%;
}

.player-b-6 {
    position: absolute;
    top: 54%;
    right: 40%;
}