/* team A players positions */
.player-a-1 {
    position: absolute;
    top: 40%;
    left: 10%;
}

.player-a-2 {
    position: absolute;
    top: 10%;
    left: 23%;
}

.player-a-3 {
    position: absolute;
    top: 70%;
    left: 23%;
}

.player-a-4 {
    position: absolute;
    top: 40%;
    left: 23%;
}

.player-a-5 {
    position: absolute;
    top: 25%;
    left: 35%;
}

.player-a-6 {
    position: absolute;
    top: 55%;
    left: 35%;
}

/* team B players positions */
.player-b-1 {
    position: absolute;
    top: 40%;
    right: 10%;
}

.player-b-2 {
    position: absolute;
    top: 10%;
    right: 23%;
}

.player-b-3 {
    position: absolute;
    top: 70%;
    right: 23%;
}

.player-b-4 {
    position: absolute;
    top: 40%;
    right: 23%;
}

.player-b-5 {
    position: absolute;
    top: 25%;
    right: 35%;
}

.player-b-6 {
    position: absolute;
    top: 55%;
    right: 35%;
}