.player-1 {
    position: absolute;
    top: 41%;
    left: 23%;
}

.player-2 {
    position: absolute;
    top: 16%;
    left: 32%;
}

.player-3 {
    position: absolute;
    top: 66%;
    left: 32%;
}

.player-4 {
    position: absolute;
    top: 41%;
    left: 32%;
}

.player-5 {
    position: absolute;
    top: 30%;
    left: 40%;
}

.player-6 {
    position: absolute;
    top: 54%;
    left: 40%;
}